div#contents_wrap{
  width:100%; height:auto; float:left; margin-top:60px;
}
div#contents_wrap a{
  text-decoration:none; color:black;
}
section#faqs{
  width:100%; height:auto; margin:0px auto;
}
p#faqs_title{
  margin-top:40px; font:normal 28px "Noto Sans KR"; text-align:center;
}
p#faqs_text{
  margin-top:30px; margin-bottom:50px; font:normal 16px "Noto Sans KR"; text-align:center;
}
ul#faqs_list{
  width:90%; height:auto; margin:0px auto; margin-bottom:130px;
}
ul#faqs_list li{
  width:100%; position: relative; top:0px; left:0px; height:auto;
}
p.faqs_list_title{
  width:100%; float:left; background:#EAECFF; height:80px; font:normal 16px/80px "Noto Sans KR"; text-indent:10px; margin-bottom:25px;
}
p.faqs_list_title i{
  margin-right:10px;
}
p.faqs_list_text{
  width:80%; min-height:155px; font:normal 14px/21px "Noto Sans KR"; margin:0px auto; margin-top:30px; margin-bottom:20px;
}
p.faqs_list_box{
   width:255px; height:40px; position: absolute; left:50%; margin-left:-127px;
}
p.faqs_list_box a{
  width:120px; height:40px; margin-right:15px; text-align:center; border:solid 2px #856ccf; border-radius:10px;
  display:block; float:left; font:normal 18px/40px "Ubuntu"; color:#856ccf !important; box-sizing: border-box;
}
p.faqs_list_box a:last-child{
  margin-right:0px;
}
ul#faqs_list li:last-child p.faqs_list_title{
  background:#856ccf;
}
ul#faqs_list li:last-child p.faqs_list_title a{
  color:white;
}