/* visual시작 */
section#visual{
  width:100%; float:left; position: relative; top:0px; left:0px; overflow: hidden;
}
/* video#visual_video{
  width:100%; height:100%;
}
div#visual_movie{
  display:none; width:100%; padding-bottom:56.25%; position: relative; top:0px; left:0px;
}
embed{
  width:100%; height:100%; position:absolute; left:0px; top:-60px;
} */
div#visual_text_wrap{
  height:240px; width:335px; position:absolute; top:200px; left:50%; margin-left:-168px; overflow: hidden; z-index: 99;
}
p#visual_text{
   width:335px; height:360px; background:url("/mobile/images/logo_footer.png")no-repeat center top;  position:absolute; top:0px; left:0px;
}
p#visual_text a{
  letter-spacing: -0.6px; font:italic 16px/40px "Noto Sans"; color:white; font-weight:300; text-align:center; display:block; margin-top:250px; text-decoration:none;
}
p#visual_text::after{
  content:"";
  width:1px; height:115px; background:white; position:absolute; top:120px; left:50%;
}
ul#visual_list{
  width:300%; height:100%; float:left; 
}
ul#visual_list li{
  float:left; width:33.33%; height:100%;
}
ul#visual_list li:nth-child(1){
  background:url("/mobile/images/visual5.png")no-repeat; background-size: cover;
}
ul#visual_list li:nth-child(2){
  background:url("/mobile/images/visual1.png")no-repeat; background-size: cover;
}
ul#visual_list li:nth-child(3){
  background:url("/mobile/images/visual2.png")no-repeat right bottom; background-size: cover;
}
div.visual_btn .swiper-pagination-bullet-active{
  background:white;
}
/* visual끝 */
/* contents시작 */
div#contents_wrap{
  width:100%; height:auto; float:left;
}
div#contents_wrap a{
  text-decoration:none; display:block;
}
/* floating시작 */
section#floating{
  width:100%; height:500px; float:left; position: relative; top:0px; left:0px;
}
h2#floating_title a{
  font:normal 28px "Ubuntu"; color:black; text-align:center; margin-top:60px; margin-bottom:20px;
}
p#floating_text a{
  font:normal 16px "Noto Sans"; color:black; text-align:center; margin-bottom:45px;
}
ul#floating_list{
  width:200px; height:auto; margin:0px auto;
}
ul#floating_list li{
  width:85px; height:85px; float:left; margin-bottom:30px; margin-right:30px;
}
ul#floating_list li:nth-child(2n){
  margin-right:0px;
}
p.floating_list_title{
  width:200px; margin-left:100px;
}
p.floating_list_title a{
  font:normal 24px "Ubuntu"; color:black; font-weight:300;
}
ul#floating_list li:nth-child(1){
  background:url("/mobile/images/about02.png") no-repeat; background-size: cover;
}
ul#floating_list li:nth-child(2){
  background:url("/mobile/images/about01.png") no-repeat; background-size: cover;
}
ul#floating_list li:nth-child(3){
  background:url("/mobile/images/about04.png") no-repeat; background-size: cover;
}
ul#floating_list li:nth-child(4){
  background:url("/mobile/images/about03.png") no-repeat; background-size: cover;
}
p#floating_more{
  width:86px; height:16px; position:absolute; bottom:50px; left:50%; margin-left:-43px;
}
p#floating_more a{
  font:normal 14px "Noto Sans"; color:black;
}
p#floating_more_btn{
  width:16px; height:16px; background:url("/mobile/images/more.png") no-repeat; background-size: cover;  position:absolute; bottom:49px; left:50%; margin-left:39px;
}
/* floating끝 */
/* benefits시작 */
section#benefits{
  width:100%; height:366px; float:left; background:url("/mobile/images/beneifts_bg2.png") no-repeat; background-size:cover; position: relative; top:0px; left:0px;
}
p#benefits_title a{
  font:normal 24px "Ubuntu"; color:white; text-align:center; margin-top:40px; margin-bottom:55px;
}
p#benefits_title span{
  font-size:32px;
}
ul#benefits_list{
  width:320px; height:75px; margin:0px auto;
}
ul#benefits_list li{
  float:left; width:32.5%; height:75px; text-align:center;
}
ul#benefits_list li:last-child{
  width:35%;
}
ul#benefits_list a{
  font:normal 24px/75px "Ubuntu"; color:white;
}
p#benefits_more{
  width:86px; height:16px; position:absolute; bottom:50px; left:50%; margin-left:-43px;
}
p#benefits_more a{
  font:normal 14px "Noto Sans"; color:white;
}
p#benefits_more_btn{
  width:16px; height:16px; background:url("/mobile/images/more.png") no-repeat; background-size: cover; position:absolute; bottom:49px; left:50%; margin-left:39px;
}
ul#benefits_list li:nth-child(2){
  border-left:solid 1.5px white; border-right:solid 1.5px white; box-sizing: border-box;
}
/* benefits끝 */
/* with시작 */
section#with{
  width:100%; height:540px; float:left;
}
p#with_title a{
  font:normal 24px "Ubuntu"; height:100px; color:black; text-align:center; margin-top:50px;
}
p#with_title span{
  font-size:32px;
}
div.with_list_wrap{
  width:100%; height:385px; float:left; overflow: hidden;   position: relative; left:0px; bottom:0px;
}
ul.with_list{
  width:300%; height:290px;  position:absolute; left:0px; bottom:0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4daff+0,f4f0ff+100 */
background: rgb(228,218,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(228,218,255,1) 0%, rgba(244,240,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(228,218,255,1) 0%,rgba(244,240,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(228,218,255,1) 0%,rgba(244,240,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4daff', endColorstr='#f4f0ff',GradientType=1 ); /* IE6-9 */
}
ul.with_list li{
  width:33.33%; height:100%; float:left; background:none;
}
ul.with_list li:nth-child(1) .with_img{
  background:url("/mobile/images/with01.png") no-repeat; width:193px; height:198px; position:absolute; left:50%; margin-left:-97px; top:-85px; background-size:cover;
}
ul.with_list li:nth-child(2) .with_img{
  background:url("/mobile/images/with02.png") no-repeat; width:193px; height:196px; position:absolute; left:50%; margin-left:-97px; top:-85px; background-size:cover;
}
ul.with_list li:nth-child(3) .with_img{
  background:url("/mobile/images/with03.png") no-repeat; width:193px; height:193px; position:absolute; left:50%; margin-left:-97px; top:-85px; background-size:cover;
}
p.with_name{
  width:193px; height:30px; margin:0px auto; position:absolute; left:50%; margin-left:-96px; top:120px;
}
p.with_name a{
  font:normal 14px "Noto Sans"; color:black; text-align:center;
}
p.with_name span{
  font-size:18px;
}
p.with_text{
  width:210px; position:absolute; left:50%; bottom:80px; text-align:center; margin-left:-105px;
}
p.with_text a{
  font:normal 14px/21px "Noto Sans"; color:black; text-align:center; margin-top:20px;
}
div.with_btn .swiper-pagination-bullet-active{
  background: #856CCF;
}
/* with끝 */
/* insta시작 */
section#insta{
  width:100%; height:430px; float:left; margin-top:70px; position: relative; top:0px; left:0px;
}
p#insta_title a{
    width:270px; margin:0px auto; color:black; letter-spacing:1px;
 text-align:center; font:normal 28px "Ubuntu"; margin-bottom:5px;
}
p#insta_text a{
  width:270px; height:80px; margin:0px auto; color:black;
 text-align:center; font:normal 16px "Ubuntu"; margin-bottom:40px; font-weight:300;
}
div.insta_img_wrap{
  width:187px; height:187px; position: absolute; left:50%; margin-left:-93.5px; top:100px;
}
ul#insta_img img{
  width:100%;
}
p.more_insta{
  width:74px; height:36px;  border:solid 1px black; position: absolute; left:50%; margin-left:-37px; bottom:50px;
}
p.more_insta a{
  font:normal 14px/36px "Noto Sans"; color:black; text-align:center;
}
.insta_prev{
  color:black; left:30px; margin-top:-45px;
}
.insta_next{
  color:black; right:30px; margin-top:-45px;
}
/* insta끝 */
/* review시작 */
section#review{
  width:100%; min-height:430px; float:left; background:#856CCF; position: relative; left:0px; top:0px; 
}
div#review_list_wrap{
  width:230px; height:360px; margin:0px auto; margin-top:75px;
}
ul#review_list li{
  background:none; position: relative; left:0px; top:0px;
}
ul#review_list li a{
  text-align: left;
}
div.box{
  width:220px; height:215px; background:white; border-radius:10px;
  padding:25px; box-sizing: border-box; position: absolute; left:0px; top:0px;
}
div.box i{
 color:#ffcc00;
}
div.box p{
  margin-bottom:15px;
}
p.box_more a{
  color:black; font:normal 14px "Noto Sans KR"; margin-top:10px;
}
div.box_text_wrap{
  overflow:hidden; height:62px;
}
p.box_text a{
  font:normal 14px "Noto Sans KR"; font-weight:300; color:black; text-align: justify !important;
}
p.box_google_img{
  float:left; margin-right:5px;
}
p.box_google a{
  font-size:12px; color:black;
}
p.box_google span{
  color:#4285f4;
}
div.user{
  margin:0px auto; width:250px; border-bottom:solid 2px white; height:120px; position: absolute; left:0px; bottom:10px;
}
p.user_img a{
 margin-right:8px; margin-left:0px;
}
div.user p{
  float:left;
}
p.user_name a{
  font-size:14px; margin-top:7px; color:white; line-height:18px;
}
p.user_name span{
  font-size:12px;
}
.review_prev{
  color:white; left:15px; margin-top:-45px;
}
.review_next{
  color:white; right:15px; margin-top:-45px;
}
/* review끝 */


@media screen and (orientation:portrait ){
  video{
   display:block;
  }
}	
@media screen and (orientation:landscape ){ 
  div#visual_movie{
   display:block; 
  }
  p#visual_text{
    top:100px;
  }
  p#visual_text::after{
    height:50px;bottom:-75px;
  }
  p.prv{
    left:150px;
  }
  p.next{
    right:150px;
  }
  p#sns_list{
    display:none;
  }
}